/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* generral */

body {
  background-color: rgb(246 248 250);
}

header {
  background-color: white;
}

/* header */

header .header-logo .img {
  vertical-align: middle;
}

.logo {
  font-size: 3rem;
}

/* utili */
